<div class="transparencia"></div>
<div class="container">
    <div class="title">
        <div class="separador"></div>
        <h1>Identificação</h1>
        <h2>Faça o seu login ou inscreva-se</h2>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="flat-form">
                <ul class="tabs">
                    <li>
                        <a href="" rel="#login" tabnavs>Login</a>
                    </li>
                    <li class="active">
                        <a href="" rel="#register" tabnavs>Inscreva-se</a>
                    </li>
                    <li>
                        <a href="" rel="#reset" tabnavs>Resetar Senha</a>
                    </li>
                </ul>
                <div id="login" class="form-action hide">
                    <h1>Login</h1>
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input placeholder="E-mail" class="form-control" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Senha</label>
                                            <input placeholder="Senha" class="form-control" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="sumit" class="btn btn-success btn-fill btn-wd">Acessar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#login.form-action-->
             
                <div id="register" class="form-action show">
                    <h1>Dados Pessoais</h1>
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input placeholder="Nome completo" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome no Crachá</label>
                                    <input placeholder="Nome no crachá" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input placeholder="E-mail" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Categoria</label>
                                    <select class="form-control">
                                        <option value="1">Estudantes - R$ 80,00</option>
                                        <option value="2">Advocacia (Oferta) - R$ 150,00</option>
                                        <option value="3">Outros Profissionais - R$ 200,00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Sexo</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input id="" name="" value="M" type="radio"> Masculino</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input id="" name="" value="F" type="radio"> Feminino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CPF</label>
                                    <input placeholder="CPF" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Possui algum tipo de deficiência?</label>
                                    <select class="form-control">
                                        <option>Coordenação motora</option>
                                        <option>Auditiva</option>
                                        <option>Física</option>
                                        <option>Intelectual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>País de Origem</label>
                                    <select class="form-control">
                                        <option>Brasil</option>
                                        <option>Bolívia</option>
                                        <option>Perú</option>
                                        <option>Paraguai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select class="form-control">
                                        <option>Acre</option>
                                        <option>Alagoas</option>
                                        <option>Rondônia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <select class="form-control">
                                        <option>Rio Branco</option>
                                        <option>Marechal Thaumaturgo</option>
                                        <option>Sena Madureira</option>
                                        <option>Cruzeiro do Sul</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input placeholder="Senha" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirmar Senha</label>
                                    <input placeholder="Confirmar Senha" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="sumit" class="btn btn-success btn-fill btn-wd">Acessar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#register.form-action-->

                <div id="reset" class="form-action hide">
                    <h1>Nova Senha</h1>
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input placeholder="E-mail" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="sumit" class="btn btn-success btn-fill btn-wd">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#register.form-action-->
            </div>

        </div>
    </div>
</div>