<div class="transparencia"></div>
<div class="container">
    <div class="title">
        <div class="separador"></div>
        <h1>Identificação</h1>
        <h2>Faça o seu login ou inscreva-se</h2>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="flat-form">
                <ul class="tabs">
                    <li>
                        <a href="" rel="#login" tabnavs>Login</a>
                    </li>
                    <li class="active">
                        <a href="" rel="#register" tabnavs>Inscreva-se</a>
                    </li>
                    <li>
                        <a href="" rel="#reset" tabnavs>Resetar Senha</a>
                    </li>
                </ul>
                <div id="login" class="form-action hide">
                    <h1>Login</h1>
                    <form name="formLogin" role="form" novalidate>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input ng-model="usuario.email" placeholder="E-mail" class="form-control" type="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Senha</label>
                                            <input ng-model="usuario.senha" placeholder="Senha" class="form-control" type="password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button ng-click="login()" ng-disabled="formLogin.$invalid || status.loading" type="sumit" class="btn btn-success btn-fill btn-wd">Acessar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#login.form-action-->
             
                <div id="register" class="form-action show">
                    <h1>Dados Pessoais</h1>
                    <form name="formRegister" role="form" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input ng-model="usuario.nome" placeholder="Seu nome" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sobrenome</label>
                                    <input ng-model="usuario.sobrenome" placeholder="Sobrenome" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome no Crachá</label>
                                    <input ng-model="usuario.cracha" placeholder="Nome no crachá" class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input ng-model="usuario.email" placeholder="E-mail" class="form-control" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ingresso</label>
                                    <select ng-model="usuario.idingresso" ng-init="loadLote()" class="form-control">
                                        <optgroup ng-repeat="lote in lotes"
                                            label="{{lote.nome}}">
                                            <option ng-repeat="ingresso in lote.ingresso"
                                                ng-disabled="{{ingresso.qtd<=0}}"
                                                value="{{ingresso.id}}">
                                                {{ingresso.nome + ' - ' + (ingresso.valor|finance:true:2) }}
                                            </option>
                                       </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Sexo</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input id="" name="" value="M" type="radio"> Masculino</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="radio">
                                            <label><input id="" name="" value="F" type="radio"> Feminino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CPF</label>
                                    <input placeholder="CPF" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Possui algum tipo de deficiência?</label>
                                    <select ng-model="usuario.iddeficiencia" ng-init="loadDeficiencia()" ng-options="definicia.id as definicia.nome for definicia in deficiencias" class="form-control">
                                        <option value="" disabled selected>Deficiência</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>País de Origem</label>
                                    <select ng-model="usuario.idpais" ng-init="loadPais()" ng-options="pais.id as pais.nome for pais in paises" class="form-control">
                                        <option value="" disabled selected>Pais</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select ng-model="usuario.idestado" ng-init="loadEstados()" ng-change="loadCidades()" ng-options="estado.id as estado.nome for estado in estados" class="form-control">
                                        <option value="" disabled selected>Estado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <select ng-model="usuario.idcidade" ng-options="cidade.id as cidade.nome for cidade in cidades" class="form-control">
                                        <option value="" disabled selected>Cidade</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input placeholder="Senha" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirmar Senha</label>
                                    <input placeholder="Confirmar Senha" class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="sumit" class="btn btn-success btn-fill btn-wd">Acessar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#register.form-action-->

                <div id="reset" class="form-action hide">
                    <h1>Nova Senha</h1>
                    <form name="formReset" role="form" novalidate>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input ng-model="usuario.email" placeholder="E-mail" class="form-control" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button ng-click="reset()" class="btn btn-success btn-fill btn-wd" ng-disabled="formReset.$invalid || status.loading" type="sumit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/#register.form-action-->
            </div>

        </div>
    </div>
</div>