<!-- modal-header start -->
<div class="modal-header">
    <h4 class="modal-title text-uppercase">Pagamento</h4>
</div>
<!-- modal-header end -->

<!-- modal-body start -->
<div class="modal-body">

  <div ng-if="success || error" class="row">
    <div class="col-md-12 text-center">
      <section class="mensagem" ng-if="success">
          <i class="fa fa-check-circle fa-2x"></i>
          <div class="alert mensagem-fa-icon-sucesso"
            ng-bind="success"></div>
      </section>
      <section class="mensagem" ng-if="error">
          <i class="fa fa-ban fa-2x error"></i>
          <div class="alert mensagem-fa-icon-error"
            ng-bind="error"></div>
      </section>
    </div>
  </div>

  <!-- form start -->
  <form ng-if="!success && !error" 
    id="pay" name="$root.ccForm" class="form-horizontal" role="form" novalidate>

    <input data-checkout="docType" type="hidden" value="CPF" />
    <input type="hidden" id="email" name="email" ng-model="card.email"/>
    <input type="hidden" name="paymentMethodId" ng-model="card.paymentMethodId" />
    <input type="hidden" name="token" ng-model="card.token" />
    
    <div class="form-group">
      <div class="col-md-12">
          <label for="nomeportador">Nome<small>(como está no cartão)</small></label>
          <input type="text" name="nomeportador" id="nomeportador" placeholder="MARIA S CUNHA" data-checkout="cardholderName" class="form-control" ng-model="card.name" required >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8">
          <label for="nome">Número do Cartão</label>
          <input type="text" class="form-control" id="cardNumber" placeholder="0000 0000 0000 0000" cc-number name="ccNumber" ng-pattern="/^[0-9]+$/"  maxlength="19" ng-model="card.number" data-checkout="cardNumber" required>
      </div>
      <div class="col-md-4">
          <label for="nome">CVC<small>(código de segurança)</small></label>
          <input type="text" class="form-control" id="cvc" placeholder="123" data-checkout="securityCode" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc" required>
      </div>
    </div>

    <div class="row form-group" cc-exp>
      <div class="col-md-2">
          <label for="mes">Mês</label>
          <input placeholder="MM" type="hidden" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">
          <select id="mes" name="mes" class="form-control" data-checkout="cardExpirationMonth" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month" required>
              <option value="">-</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
          </select>
      </div>
      <div class="col-md-2">
          <label for="ano">Ano</label>
          <input placeholder="YY" type="hidden" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">
          <select id="ano" name="ano" class="form-control" data-checkout="cardExpirationYear" cc-exp-year name="ccExpYear" ng-model="card.expiration.year" required>
              <option value="">-</option>
              <option value="15">2015</option>
              <option value="16">2016</option>
              <option value="17">2017</option>
              <option value="18">2018</option>
              <option value="19">2019</option>
              <option value="20">2020</option>
              <option value="21">2021</option>
              <option value="22">2022</option>
              <option value="23">2023</option>
              <option value="24">2024</option>
              <option value="25">2025</option>
          </select>
      </div>
    </div>

    <!-- <div class="form-group">
      <div class="col-md-12">
        <button
          ng-click="rating()"
          ng-disabled="formAvaliacao.$invalid || !avaliacao.parametro.avaliacao || status.loading"
          ng-class="{disabled: formAvaliacao.$invalid}"
          class="btn btn-lg btn-mark"
          ng-switch="status.loading"
          style="width: 100%">
          <span ng-switch-default>Avaliar</span>
          <span ng-switch-when="true">
              <i ng-if="status.loading" 
              class="fa fa-spin fa-spinner"></i> Salvando...</span>
        </button>
      </div>
    </div> -->

  </form>
  <!-- form end -->

</div>
<!-- modal-body end -->

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>